// Latest Product Card
.latest-product-card {
    padding: clamp(10px, 0.833vw, 48px);
    border-radius: $br-16;
    box-shadow: 0px 4px 12px 0px rgba(122, 121, 121, 0.20);
    transition: $transition;

    .image-box {
        background: $accent-2;
        padding: clamp(10px, 0.833vw, 48px);
        border-radius: $br-12;
        overflow: hidden;
        text-align: center;
        position: relative;

        .sale-label {
            background-color: $accent-1;
            padding: clamp(4px, 0.208vw, 12px) clamp(10px, 0.72vw, 24px);
            position: absolute;
            top: clamp(10px, 0.833vw, 24px);
            left: clamp(10px, 0.833vw, 24px);
            border-radius: 32px;
            transition: $transition;
        }

        a {
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            -webkit-transition: all 0.60s linear 0s;
            transition: all 0.60s linear 0s;
        }

        .side-icons {
            ul {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                top: 0px;
                z-index: 5;
                right: -100px;
                gap: 8px;
                -webkit-transition: .4s linear;
                -moz-transition: .4s linear;
                -ms-transition: .4s linear;
                -o-transition: .4s linear;
                transition: .4s linear;

                li {
                    transition: .5s;
                    visibility: hidden;
                    opacity: 0;
                    transform: translateX(30px);

                    a {
                        width: clamp(28px, 1.667vw, 64px);
                        height: clamp(28px, 1.667vw, 64px);
                        display: grid;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        transition: $transition;
                        background: $white;
                        color: $light-black;

                        @include media-query(490px) {
                            width: clamp(30px, 6.531vw, 48px);
                            height: clamp(30px, 6.531vw, 48px);
                        }

                        svg {
                            width: clamp(14px, 0.833vw, 48px);
                            height: clamp(14px, 0.833vw, 48px);

                            path {
                                transition: $transition;
                            }
                        }

                        &.btn {
                            font-size: clamp(14px, 0.833vw, 40px);
                        }

                    }

                    &:hover {
                        a {
                            color: $white;
                            background: $accent-1;

                            svg {
                                path {
                                    fill: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .product-desc {
        .product-title {
            transition: $transition;
            color: $medium-black;
            font-weight: 600;
        }

        .functional-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .quantity {
                justify-content: center;
                border: 0;
                border-radius: $br-4;
                padding: clamp(4px, 0.208vw, 40px) 8px;

                input {
                    width: clamp(32px, 2.083vw, 64px);
                    height: clamp(32px, 2.083vw, 64px);
                    padding: 0;
                }
            }

            .cart-btn {
                width: clamp(32px, 2.083vw, 64px);
                height: clamp(32px, 2.083vw, 64px);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: $accent-1;
                transition: $transition;

                svg {
                    width: clamp(14px, 1.042vw, 32px);
                    height: clamp(14px, 1.042vw, 32px);

                }

                &:hover {
                    background: $medium-black;
                }
            }
        }
    }

    &:hover {
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05), 0px 11px 25px 0px rgba(0, 0, 0, 0.10);

        .image-box {
            img {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                -webkit-transition: all 0.60s linear 0s;
                transition: all 0.60s linear 0s;
            }

            .side-icons {
                ul {
                    right: 0;
                    padding: 16px;
                    transition: $transition;
                    border-radius: 5px;

                    li {

                        transform: none;
                        transition: .5s;
                        opacity: 1;
                        visibility: visible;

                        &:nth-child(1) {
                            transition-delay: 0.1s;
                        }

                        &:nth-child(2) {
                            transition-delay: 0.3s;
                        }

                        &:nth-child(3) {
                            transition-delay: 0.6s;
                        }
                    }
                }
            }
        }

        .product-desc {
            .product-title {
                color: $accent-1
            }
        }
    }
}

.deals-section {
    .deals-slider {
        margin: 0 -12px;
    }

    .slick-list {
        padding: 16px 0;
    }

    .deal-card {
        margin: 0 12px;
        padding: clamp(18px, 1.25vw, 106px);
        border-radius: $br-24;
        box-shadow: 0px 0px 17px 0px rgba(209, 209, 209, 0.31);
        background-color: $lightest-gray;
        transition: $transition;

        .content-block {
            .card-title {
                color: $medium-black;

                transition: $transition;
            }

            .countdown-card {
                display: flex;
                align-items: center;
                gap: $gap-4;

                li {
                    width: clamp(40px, 2.5vw, 196px);
                    height: clamp(40px, 2.5vw, 196px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: $br-8;
                    background: rgba(69, 107, 97, 0.12);

                    h6 {
                        font-weight: 600;
                        color: $accent-1;
                    }
                }

                span {
                    color: $accent-1;

                }
            }

            .cart-btn {
                color: $accent-1;
                text-decoration: underline;
                transition: $transition;
                text-decoration: underline;
                font-weight: 600;
                text-transform: uppercase;

                &:hover {
                    color: $medium-black;
                }
            }
        }

        .image-block {
            background: $accent-2;
            border-radius: $br-12;
            padding: 8px;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                -webkit-transition: all 0.35s linear 0s;
                transition: all 0.35s linear 0s;
            }
        }

        &:hover {
            box-shadow: 0px 0px 15px 4px rgba(122, 121, 121, 0.2);

            .card-title {
                color: $accent-1;
            }

            .image-block {
                img {
                    -webkit-transform: scale(0.9);
                    transform: scale(0.9);
                    -webkit-transition: all 0.28s linear 0s;
                    transition: all 0.28s linear 0s;
                }
            }
        }
    }
}