.hero-sec {
    padding: clamp(18px, 5.208vw, 106px) 0;

    .hero-content-left {
        @include media-query(490px) {
            padding-top: clamp(40px, 2.5vw, 140px);
            margin-bottom: 10px;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // flex-direction: column;
            // text-align: center;
        }
    }

    .hero-title {
        font-size: clamp(52px, 5.208vw, 190px);
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 120px */
        letter-spacing: -3px;
        color: $medium-black !important;
    }

    .vector-line {
        width: clamp(72px, 8.333vw, 290px);
        margin-left: 2px;
    }

    .hero-left-block {
        display: flex;
        align-items: center;
        gap: $gap-24;
        flex-wrap: wrap;

        @include media-query(490px) {
            display: none;
        }

        .block-1 {
            padding: clamp(18px, 1.25vw, 96px) clamp(12px, 0.833vw, 64px);
            width: clamp(290px, 18.281vw, 596px);
            height: clamp(140px, 8.333vw, 296px);
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: $gap-12;
            border-radius: $br-12;
            background-color: $medium-black;
            position: relative;
            text-align: end;

            .block-man-img {
                position: absolute;
                width: clamp(120px, 7.564vw, 364px);
                left: clamp(12px, 0.833vw, 64px);
                bottom: 0;
                z-index: 1;
            }
        }

        .block-2 {
            display: inline-flex;
            align-items: center;
            gap: $gap-12;

            .block-sheo {
                width: clamp(68px, 5.208vw, 106px);
            }

            .block-shoe-btn {
                text-decoration: underline;
                color: $accent-1 !important;
                transition: $transition;
                font-size: clamp(14px, 0.938vw, 78px);
                font-weight: 600;
                line-height: 120%;
                /* 21.6px */
                text-transform: uppercase;
                font-family: $font-sec;

                &:hover {
                    color: $medium-black !important;
                }
            }
        }
    }

    .hero-right-block {
        padding: clamp(18px, 2.083vw, 120px) 0 clamp(18px, 1.25vw, 96px) 0;

        .shoe-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            @include media-query(490px) {
                flex-direction: row;
            }

            .sheo-img {
                width: clamp(205px, 21.823vw, 810px);
                height: clamp(205px, 28.646vw, 1060px);
            }

            .shoe-block-content {
                padding-left: clamp(40px, 4.01vw, 160px);

                @include media-query(490px) {
                    padding-left: 6px;
                }

                .scroll-btn {
                    display: inline-flex;
                    align-items: center;
                    gap: $gap-12;
                    border-radius: $br-32;
                    transition: $transition;
                    overflow: hidden;
                    position: relative;

                    @include media-query(821px) {
                        padding: 5px 0;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        width: clamp(24px, 2.5vw, 120px);
                        height: clamp(24px, 2.5vw, 120px);
                        border-radius: $br-32;
                        background-color: $medium-black;
                        transition: $transition;
                    }

                    .text {
                        z-index: 2;
                        padding-right: 12px;
                        transition: $transition;
                        font-weight: 500;
                        color: $light-gray;
                    }

                    .icon {
                        z-index: 2;
                        display: flex;
                        border-radius: $br-32;
                        background-color: $medium-black;
                        transition: $transition;
                        justify-content: center;
                        align-items: center;
                        width: clamp(24px, 2.5vw, 120px);
                        height: clamp(24px, 2.5vw, 120px);

                        @include media-query(821px) {
                            margin: 5px 0;
                        }

                        svg {

                            @include media-query(1399px) {
                                width: 16px;
                            }
                        }
                    }

                    &:hover {

                        &::before {
                            width: 100%;
                            background-color: $accent-1;
                        }

                        .text {
                            color: $white !important;
                        }

                        .icon {
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }

        .hero-right-img-block {
            border-radius: $br-32;
            transition: $transition;
            overflow: hidden;
            margin-bottom: 1.51vw;

            @include media-query(490px) {
                display: none;
            }

            img {
                border-radius: $br-32;
                transition: $transition;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:hover {
                img {
                    transform: scale(1.04);
                }
            }
        }
    }
}


.row>div {
    display: flex;
    flex-direction: column;
    align-items: stretch !important;
}